@font-face {
    font-family: 'Knockout';
    src: url('fonts/Knockout\ HTF49Liteweight\ Regular.otf') format('truetype');
}
*{
    font-family: 'Knockout';
}
body{ 
    background-color: black;
    overflow-x: hidden;
}

img{
    max-width: 100%;
}

video{
    max-width: 100%;
    display: flex;
    margin: auto;
    z-index: 2;
    position: relative;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a.enl1:hover{
    background-color: white;
    color: black;
    transition: all 0.3s ease;
}

a.enl2:hover{
    background-color: #ffa600 !important;
    color: black;
    transition: all 0.3s ease;
}
/* Zona del nav */
nav > div > svg{
    filter: invert();
    width: 15%;
}

header{
    padding-top: 2%;
    margin: auto;
    width: 90%;  
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > div{
    width: 18%;
}

nav > div:nth-child(1){
    display: flex;  
    gap: 8%;
}

nav > div:nth-child(2){
    display: flex;
    width: 20%;
    gap: 20%;
}

nav > div:nth-child(2) > a{
    border: 2px solid white;
    border-radius: 37px;
    padding: 5%;
}

nav > div > img{
    width: 12%;
    filter: invert();
}

nav > div:nth-child(2) > a:nth-child(2){
    background-color: red;
}
/* Zona video y letras */
.image-container {
    position: relative;
    text-align: center;
    width: 100%;
    display: flex;
}

.texto-detras {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.texto-detras span {
    font-size: 120px;
    font-weight: bold;
    line-height: 1;
    color: white;
    z-index: -1;
}
/* Zona de promo */
.promo{
    border-top: 2px solid white;
    color: white;
    text-align: center;
    position: relative;
}

.promo-texto {
    position: absolute;
    bottom: 10%;
    left: 10%; 
    color: white;
    text-align: left;
    transform: none;
}


.promo-texto h1 {
    font-size: 5rem;
    font-weight: bold;
    margin: 0;
    color: white;
}

.promo-texto h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 10px;
    color: white;
}

.promo-texto p {
    font-size: 1.5rem;
    margin-top: 20px;
    font-weight: bold;
    color: white;
}

/* Zona de Carta */
.section-carta {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}

.texto-carta {
    font-size: 110px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 10px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-carta span {
    margin: 0 10px; 
    position: relative;
}

.texto-carta span:nth-child(even)::before {
    content: "CARTA";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: black;
    -webkit-text-stroke: 2px white;
}

.texto-carta span:nth-child(odd) {
    color: white;
}

/* Zona del menu */
.menu {
    display: flex;
    justify-content: space-between;
    padding: 4%;
  }
  
  .menu-obj {
    position: relative;
    width: 30%;
    overflow: hidden;
    border-radius: 15px;
    border: 2px solid white;
    transition: transform 0.3s ease;
  }
  
  .menu-imagen {
    width: 100%;
    height: auto;
    display: block;
    transition: filter 0.3s ease;
  }
  
  .menu-obj:hover .menu-imagen {
    filter: grayscale(80%) sepia(50%) hue-rotate(-10deg) saturate(200%);
  }
  
  .menu-texto {
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: white;
    z-index: 2;
  }
  
  .menu-texto h3 {
    font-size: 22px;
    font-weight: bold;
  }
  
  .menu-texto p {
    font-size: 16px;
  }
  
  .menu-obj::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    transition: background 0.3s ease;
    z-index: 1;
  }
  
  .menu-obj:hover::before {
    background: rgba(139, 0, 0, 0.5);
  }

  /* Zona vendidas */
  .vendidas {
    background-color: black;
    text-align: center;
    padding: 5% 0;
}

.vendidas h2 {
    color: white;
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 8%;
    letter-spacing: 3px;
}

.contador-container {
    display: inline-block;
}

.contador-imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grupo-izquierda, .grupo-medio, .grupo-derecha {
    display: flex;
    gap: 2%;
}

.grupo-izquierda {
    margin-right: 8%;
}

.grupo-medio {
    margin-right: 8%;
}

.contador-imagenes img {
    width: auto;
    height: 200px;
}

/* Ajustar el espaciado para pantallas más pequeñas */
@media (max-width: 768px) {
    .vendidas h1 {
        font-size: 3rem;
    }

    .contador-imagenes img {
        height: 120px;
    }

    .grupo-izquierda {
        margin-right: 30px;
    }

    .grupo-medio {
        margin-right: 30px;
    }
}


/* Zona de seamos */
#seamos{
    background: linear-gradient(to bottom, black, #800000);
    padding-top: 10%;
    border-radius: 34px;
    padding-bottom: 15%;
}
.cont{
    display: flex;
    padding-top: 3%;
    align-items: center;
    margin: auto;
    width: 80%;
    gap: 10%;
    color: white;

}
.cont > div > a{
    border: 2px solid white;
    border-radius: 34px;
    padding: 2%;
    font-size: 22px;
}
.cont > div:nth-child(2) h2{
    text-transform: uppercase;
    font-size: 70px;
    width: 50%;
}
.cont > div:nth-child(2) p{
    font-size: 24px;
    padding-bottom: 2%;
}

/* Zona camion */

/* Zona del footer */
footer {
    background-color: rgb(255, 255, 255);
    border-top: 5px solid black;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 2% 4%;
}

.footer-section {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    width: 120px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 50px;
}

.footer-section ul li a:hover {
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 2px rgb(0, 0, 0);
}

.footer-section.social a img {
    width: 30px;
}

.chorreo-container {
    width: 100%;
    overflow: hidden;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-top: 2%;
    padding-bottom: 2%;
}

.chorreo-text {
    display: inline-block;
    white-space: nowrap;
    font-size: 120px;
    font-weight: bold;
    text-transform: uppercase;
    animation: slide-left 30s linear infinite;
}

.chorreo-text span:nth-child(even){
    color: white;
    -webkit-text-stroke: 2px black;
}

.chorreo-text span {
    padding-right: 10px; 
}

@keyframes slide-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}






