@font-face {
    font-family: 'Knockout';
    src: url('fonts/Knockout\ HTF49Liteweight\ Regular.otf') format('truetype');
}
*{
    font-family: 'Knockout';
}
body{ 
    background-color: black;
    overflow-x: hidden;
}

img{
    max-width: 100%;
}

video{
    max-width: 100%;
    display: flex;
    margin: auto;
    z-index: 2;
    position: relative;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a.enl1:hover{
    background-color: white;
    color: black;
    transition: all 0.3s ease;
}

a.enl2:hover{
    background-color: #ffa600 !important;
    color: black;
    transition: all 0.3s ease;
}
/* Zona del nav */
nav > div > svg{
    filter: invert();
    width: 15%;
}

header{
    margin: auto;
    width: 90%;  
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}
.container{
    width: 90%;
    margin: auto;
}

nav > div{
    width: 18%;
}

nav > div:nth-child(1){
    display: flex;  
    gap: 8%;
}

nav > div:nth-child(2){
    display: flex;
    width: 20%;
    gap: 20%;
}

nav > div:nth-child(2) > a{
    border: 2px solid white;
    border-radius: 37px;
    padding: 6%;
}

nav > div > img{
    width: 12%;
    filter: invert();
}

nav > div:nth-child(2) > a:nth-child(2){
    background-color: red;
}
/* Zona video y letras */
.image-container {
    position: relative;
    text-align: center;
    width: 100%;
    display: flex;
}

.texto-detras {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.texto-detras span {
    font-size: 120px;
    font-weight: bold;
    line-height: 1;
    color: white;
    z-index: -1;
}
/* Zona de promo */
.promo{
    border-top: 2px solid white;
    color: white;
    text-align: center;
    position: relative;
    padding-bottom: 1%;
}

.promo-texto {
    position: absolute;
    bottom: 10%;
    left: 10%; 
    color: white;
    text-align: left;
    transform: none;
}


.promo-texto h1 {
    font-size: 5rem;
    font-weight: bold;
    margin: 0;
    color: white;
}

.promo-texto h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 10px;
    color: white;
}

.promo-texto p {
    font-size: 1.5rem;
    margin-top: 20px;
    font-weight: bold;
    color: white;
}

/* Zona de Carta */
.section-carta {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}

.texto-carta {
    font-size: 110px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 10px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-carta span {
    margin: 0 10px; 
    position: relative;
}

.texto-carta span:nth-child(even)::before {
    content: "CARTA";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: black;
    -webkit-text-stroke: 2px white;
}

.texto-carta span:nth-child(odd) {
    color: white;
}

/* Zona del menu */
.menu {
    display: flex;
    justify-content: space-between;
    padding: 4%;
  }
  
  .menu-obj {
    position: relative;
    width: 30%;
    overflow: hidden;
    border-radius: 15px;
    border: 2px solid white;
    transition: transform 0.3s ease;
  }
  
  .menu-imagen {
    width: 100%;
    height: auto;
    display: block;
    transition: filter 0.3s ease;
  }
  
  .menu-obj:hover .menu-imagen {
    filter: grayscale(80%) sepia(50%) hue-rotate(-10deg) saturate(200%);
  }
  
  .menu-texto {
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: white;
    z-index: 2;
  }
  
  .menu-texto h3 {
    font-size: 22px;
    font-weight: bold;
  }
  
  .menu-texto p {
    font-size: 16px;
  }
  
  .menu-obj::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    transition: background 0.3s ease;
    z-index: 1;
  }
  
  .menu-obj:hover::before {
    background: rgba(139, 0, 0, 0.5);
  }

  /* Zona vendidas */
  .vendidas {
    background-color: black;
    text-align: center;
    padding: 5% 0;
}

.vendidas h2 {
    color: white;
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 8%;
    letter-spacing: 3px;
}

.contador-container {
    display: inline-block;
}

.contador-imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grupo-izquierda, .grupo-medio, .grupo-derecha {
    display: flex;
    gap: 2%;
}

.grupo-izquierda {
    margin-right: 8%;
}

.grupo-medio {
    margin-right: 8%;
}

.contador-imagenes img {
    width: auto;
    height: 200px;
}

@media (max-width: 768px) {
    .vendidas h2 {
        font-size: 3rem;
    }

    .contador-imagenes img {
        height: 120px;
    }

    .grupo-izquierda {
        margin-right: 30px;
    }

    .grupo-medio {
        margin-right: 30px;
    }
}

/* Zona de seamos */
#seamos{
    background: linear-gradient(to bottom, black, #800000);
    padding-top: 10%;
    border-radius: 34px;
    padding-bottom: 15%;
}
.cont{
    display: flex;
    padding-top: 3%;
    align-items: center;
    margin: auto;
    width: 80%;
    gap: 10%;
    color: white;

}
.cont > div > a{
    border: 2px solid white;
    border-radius: 34px;
    padding: 2%;
    font-size: 22px;
}
.cont > div:nth-child(2) h2{
    text-transform: uppercase;
    font-size: 70px;
    width: 50%;
}
.cont > div:nth-child(2) p{
    font-size: 24px;
    padding-bottom: 2%;
}

/* Zona Foodtruck */
#foodtruck{
    color: white;
    position: relative;
    background: linear-gradient(to bottom, transparent, black);
}
#foodtruck video{
    z-index: -1;
}
.promo-truck {
    position: absolute;
    bottom: 5%;
    left: 5%; 
    color: white;
    text-align: left;
    transform: none;
}

.promo-truck h1 {
    font-size: 5rem;
    font-weight: bold;
    margin: 0;
    color: white;
    letter-spacing: 2px;
}

.promo-truck h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 10px;
    color: white;
}

.promo-truck p {
    font-size: 2.5rem;
    margin-top: 20px;
    font-weight: bold;
    color: white;
    letter-spacing: 3px;
}
/* Zona GOIKOCINA*/

#goikocina{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-left: 4%;
    padding-bottom: 8%;
}

.goiko-texto {
    max-width: 50%;
    padding-bottom: 10%;
}
.goiko-texto a{
    font-size: 2rem;
    border: solid 2px white;
    border-radius: 37px;
    padding: 2%;
}

.sub {
    font-size: 2em;
    margin-bottom: 10px;
}

h2 {
    font-size: 6em;
    padding-bottom: 2%;
}

.goiko-img {
    display: flex;
    gap: 2%;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.goiko-img img {
    max-width: 45%;
    height: auto;
    position: relative;
}

#salsa {
    width: 20%;
    transform: rotate(-15deg);
    margin-top: 2%;
}

#burger {
    width: 40%;
    transform: rotate(0deg);
    margin-top: 2%;
}

#pan {
    width: 35%;
    transform: rotate(15deg);
    margin-top: 2%;
    margin-left: 2%;
}

/* Zona Noticias */
.section-noti {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}

.texto-noti {
    font-size: 110px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 10px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-noti span {
    margin: 0 10px; 
    position: relative;
}

.texto-noti span:nth-child(even)::before {
    content: "NEWS";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    -webkit-text-stroke: 2px white;
}

.texto-noti span:nth-child(odd) {
    color: black;
    -webkit-text-stroke: 1px white;
}

/* Zona menu Noticias */
#noticias h2{
    color: white;
    font-size: 30px;
}
#noticias h2:hover{
    color: white;
    font-size: 30px;
    text-decoration: underline;
}
#noticias{
    padding:5% 0;
}

#noticias>div{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
#noticias>div>div{
    width: 32%;
}#noticias>div>div>div:nth-child(1){
    padding-bottom: 10%
}
#noticias>div>div>div:nth-child(1) img{
    border: solid 2px white;
    border-radius: 4%;
    height: 40vh;
    size: cover; 
    position: center;
    position: cover;
}

#noticias a{
    display: flex;
    justify-content: start;
    font-size: 40px;
    padding: 0%;
}
#noticias p{
    color: rgba(255, 255, 255, 0.466);
    margin: auto;
}
/* Zona del footer */
footer {
    background-color: rgb(255, 255, 255);
    border-top: 5px solid black;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 2% 4%;
}

.footer-section svg {
    width: 40%;
}
.footer-logo {
    width: 120px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}
.footer-section2 ul {
    list-style-type: none;
    padding: 0;
}
.footer-section ul li {
    margin-bottom: 1%;
}
.footer-section2 ul li {
    margin-bottom: 4%;
}
.footer-section ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 60px;
}
.footer-section2 ul li a {
    text-decoration: none;
    color: grey;
    font-size: 28px;
}

.footer-section ul li a:hover {
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 2px rgb(0, 0, 0);
}

.footer-section.social a img {
    width: 30px;
}

.chorreo-container {
    width: 100%;
    overflow: hidden;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-top: 2%;
    padding-bottom: 2%;
}

.chorreo-text {
    display: inline-block;
    white-space: nowrap;
    font-size: 120px;
    font-weight: bold;
    text-transform: uppercase;
    animation: slide-left 110s linear infinite;
    
}

.chorreo-text span:nth-child(even){
    color: white;
    -webkit-text-stroke: 2px black;
}

.chorreo-text span {
    padding-right: 10px; 
}

@keyframes slide-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* General Media Queries */

@media (max-width: 1200px) {
    .texto-detras span {
        font-size: 80px;
    }
    .promo-texto h1 {
        font-size: 3.5rem;
    }
    .promo-texto h2 {
        font-size: 1.5rem;
    }
    .promo-texto p {
        font-size: 1.2rem;
    }
    .texto-carta {
        font-size: 80px;
    }
    .section-noti, .texto-noti {
        font-size: 80px;
    }
}

/* Nav and Header */
@media (max-width: 1024px) {
    header {
        width: 100%;
        padding: 10px 0;
    }
    nav {
        font-size: 20px;
        gap: 10px;
        width: 80%;
    }
    nav > div {
        width: 100%;
    }
    nav > div:nth-child(2) > a {
        padding: 10px;
        font-size: 1.5rem;
    }
}
@media (max-width: 768px) {
    header {
        width: 100%;
        padding: 10px 0;
    }
    nav {
        font-size: 20px;
        gap: 10px;
        width: 75%;
    }
    nav > div {
        width: 100%;
    }
    nav > div:nth-child(2) > a {
        padding: 10px;
        font-size: 1.3rem;
    }
}

/* Image Container */
@media (max-width: 768px) {
    .image-container {
        flex-direction: column;
    }
    .texto-detras span {
        font-size: 60px;
    }
}

/* Promo Seccion */
@media (max-width: 768px) {
    .promo {
        padding-bottom: 2%;
    }
    .promo-texto h1 {
        font-size: 3rem;
    }
    .promo-texto h2 {
        font-size: 1.2rem;
    }
    .promo-texto p {
        font-size: 1rem;
    }
}

/* Carta Seccion */
@media (max-width: 768px) {
    .texto-carta {
        font-size: 60px;
    }
}

/* Menu Objetos */
@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        gap: 20px;
    }
    .menu-obj {
        width: 100%;
    }
    .menu-texto h3 {
        font-size: 28px;
    }
    .menu-texto p {
        font-size: 22px;
    }
}

/* Vendidas Seccion */
@media (max-width: 1024px) {
    .vendidas h2 {
        font-size: 4rem;
    }
    .contador-imagenes img {
        height: 140px;
    }
}
@media (max-width: 768px) {
    .vendidas h2 {
        font-size: 3rem;
    }
    .contador-imagenes img {
        height: 120px;
    }
}
@media (max-width: 572px) {
    .vendidas h2 {
        font-size: 2rem;
    }
    .contador-imagenes img {
        height: 100px;
    }
}

/* Seamos Seccion */
@media (max-width: 768px) {
    .cont {
        flex-direction: column;
        gap: 20px;
    }
    .cont > div:nth-child(2) h2 {
        font-size: 40px;
    }
    .cont > div:nth-child(2) p {
        font-size: 18px;
    }
}

/* Foodtruck Seccion */
@media (max-width: 768px) {
    .promo-truck {
        font-size: 2.5rem;
    }
    .promo-truck h2 {
        font-size: 1rem;
    }
    .promo-truck p {
        font-size: 1.5rem;
    }
}

/* Goikocina Seccion */

@media (max-width: 768px) {
    #goikocina {
        flex-direction: column;
        text-align: center;
    }
    .goiko-texto {
        max-width: 100%;
    }
    .goiko-texto h2 {
        font-size: 4rem;
    }
    .goiko-texto a {
        font-size: 1.5rem;
        padding: 3%;
    }
    .goiko-img {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    #salsa, #burger, #pan {
        width: 80%;
    }
}

/* Noticias Seccion */
@media (max-width: 768px) {
    .section-noti {
        height: auto;
        padding: 20px;
    }
    .texto-noti {
        font-size: 60px;
        padding: 20px 0;
    }
    #noticias h2 {
        font-size: 24px;
    }
    #noticias > div {
        flex-direction: column;
        gap: 20px;
    }
    #noticias > div > div {
        width: 100%;
    }
}

/* Footer */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-section ul li a, .footer-section2 ul li a {
        font-size: 24px;
    }
    .footer-section svg {
        width: 60%;
    }
    .footer-logo {
        width: 100px;
    }
}

/* Chorreo Texto */
@media (max-width: 768px) {
    .chorreo-text {
        font-size: 80px;
    }
}





